"lab1/HW1\350\252\252\346\230\216.pdf"
lab2/#lab2.h#
lab2/Fig0308(a)(fractured_spine).tif
lab2/Fig0338(a)(blurry_moon).tif
lab2/Fig0340(a)(dipxe_text).tif
lab2/T_hist.txt
lab2/a.out
lab2/equ_out.tif
lab2/hist_equ.txt
lab2/hist_ori.txt
lab2/lab2.rar
lab2/log_out.tif
lab2/out.tif
lab2/out3.tif
lab2/out4.tif
lab2/outequ.tif
lab2/outlog.tif
lab2/power_out01.tif
lab2/power_out02.tif
lab2/power_out06.tif
lab2/power_out08.tif
lab2/power_out_04.tif
lab2/scale_lap.tif
lab2/un_out.tif
lab3.rar
lab3/Fig0431(d)(blown_ic_crop).tif
lab3/影像處理LAB3-spec.pdf
lab3/書面報告template.docx
lab1/HW1說明.pdf
lab3/Fig0424(a)(rectangle).tif
lab2/out
lab3/Fig0429(a)(blown_ic).tif
lab3/FigP0436(left)(hand_xray).tif
lab3/102061149_lab3_v1.pdf
lab3/102061149_lab3_v1.zip
lab3/3_1/
lab3/3_2/
lab3/3_3/
lab3/3_4/
lab3/3_5/
lab3/Fig0441(a)(characters_test_pattern).tif
lab3/Fig0457(a)(thumb_print).tif
lab3/gg.tif
lab3/myDFT.py
lab3/tt.png
lab4/Fig0431(d)(blown_ic_crop).tif
lab4/task.m
lab4/Fig0526(a)(original_DIP).tif
lab4/gg.m
lab4/mask.tif
lab4/notch.tif
