"lab1/HW1\350\252\252\346\230\216.pdf"
lab2/#lab2.h#
lab2/Fig0308(a)(fractured_spine).tif
lab2/Fig0338(a)(blurry_moon).tif
lab2/Fig0340(a)(dipxe_text).tif
lab2/T_hist.txt
lab2/a.out
lab2/equ_out.tif
lab2/hist_equ.txt
lab2/hist_ori.txt
lab2/lab2.rar
lab2/log_out.tif
lab2/out.tif
lab2/out3.tif
lab2/out4.tif
lab2/outequ.tif
lab2/outlog.tif
lab2/power_out01.tif
lab2/power_out02.tif
lab2/power_out06.tif
lab2/power_out08.tif
lab2/power_out_04.tif
lab2/scale_lap.tif
lab2/un_out.tif
lab3.rar
lab3/Fig0431(d)(blown_ic_crop).tif
lab3/影像處理LAB3-spec.pdf
lab3/書面報告template.docx
lab1/HW1說明.pdf
